.text{
    font-weight: 300;
}
@media screen and (min-width: 1024px) {
    .lefPart{
        width: calc(50% - 54px);
        position: absolute;
        top: 48px;
        left: 24px;
        bottom: 0;
        box-sizing: border-box;
        padding: 0 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.nav{
    margin: 50px 0;
}


.item {
    position: relative;
}

.nav-indicator {
    width: 10px;
    height: 10px;
    background-color: white;
}

.nav-indicator {
    display: inline-block;
    height: 1px;
    width: 30px;
    background-color: #ffffff8a;
    margin-right: 15px;
    transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-items li:hover .nav-indicator,
.nav-items li:active .nav-indicator,
.nav-items li:focus-visible .nav-indicator {
    /*width: 50px;*/
    background-color: #fff;

}

.link:hover{
    color:#fff;
}

.link.active .nav-indicator {
    width: 50px;
    background-color: #fff;
}

.link.active{
    color: #fff;
}

.link {
    text-decoration: none;
    color: #ffffff8a;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.close_btn{
    color: #47b0a5;
    border: 1px solid  #47b0a5a6;
    padding: 3px 7px;
    font-size: 15px;
    /*margin: 3px;*/
    background-color: #47b0a526;
    margin-left: 90%;
}