.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    color: #47b0a5;
    border: 1px solid  #47b0a5a6;
    background-color: #47b0a521;
    /*border-radius: 5px;*/
    cursor: pointer;
}

