.block{
    margin-bottom: 30px;
    padding-top: 15px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.item{
    color: #47b0a5;
    border: 1px solid  #47b0a5a6;
    padding: 2px 5px;
    font-size: 13px;
    margin: 3px;
    background-color: #47b0a526;
}

